@media screen and (max-width: 500px) {

*
{
    overflow-x: hidden;
}
header {
  height: 100%;
  width: 100%;
  background-color: #3400ff;
}
/* navigation */
nav {
display: none;
}


/* logo */
.logo {
  margin-left: 20px;
}
/* header text */
.header-text {
  width: 100%;
  margin-left: 0px;
  margin-top: 50px;
  padding: 20px;
  font-size: 18px;
  
}

/* header image */
.himg
{    

   display: none;
}


/* Companies  */
.companies {
    width: 100%;
  margin-left: 0px;
}
.company-items {
  margin: 5px;
  font-size: 10px;
}

/* API Section  */
.api-heading {
    font-size: 40px;
}
.card {
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 0px;
}
.cards {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.card-active {
  margin-left: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
.card-body {
   margin-bottom: 5px;
   padding: 5px;
  }
.card-head {
  padding: 0px;
}

/* Blog section  */
.blog-heading {
  font-size: 20px;
}
.blog-cards {
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
.blog-card {
flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.blog-image
{
  margin: auto;
  padding: 10px;
}
.blog-content {
  margin: auto;
}

.blog-content h6 {
  margin-left: 0px;
}
.blog-content h3 {
  margin-left: 0px;
}
.blog-content p {
  margin-left: 0px;
  font-weight: 500;
}

.blog-card-bottom-image {
    display: none;
}
.blog-author {
    display: none;
}


/* FAQ SECTION  */
.faq-section {
  flex-direction: column-reverse;
  margin-top: 25px;
  height: 100%;
}
.faq-content {
    margin-top: 0px;
    margin-left: 10px;
    padding: 10px;
}
/* Download */
.download-section 
{
display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  height: 100%;
}

.download-content
{
    margin: 10px;
}

.download-email {
  height: 100%;
  width: 100%;
}
.download-email input {
  margin-left: 0px;

}
.download-email ::placeholder {
  font-size: 12px;
padding: 10px;
}

/* footer */
.footer-section
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
/* footer left */
.footer-left
{
 margin-left: 0px;
}
.footer-logo
{
margin-left: 10px;
}
/* footer right */

.footer-right
{
 display: none;
}
.footer-logos
{
  margin-left: 30px;

}

}
